
$navigationWidth: 250px;
$navigationClosedWidth: 70px;

.navigation {
    height: 100vh;
    width: $navigationWidth;
    background-color: var(--c-elevation-1);
    border-right: var(--border);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    transition: width 200ms ease-in-out;

    .logo {
        width: 32px;
        height: 32px;
        margin-right: var(--spacing-2);
    }

    .menu-toggle {
        transition: transform 200ms ease-in-out;
    }
}

.navigation-section {
    display: flex;
    flex-direction: column;
    border-bottom: var(--border);
    padding: var(--spacing-2);
    gap: var(--spacing-2);
}

.navigation-row {
    display: flex;
    align-items: center;
    padding-left: var(--spacing-4);
    height: 40px;

    i {
        margin-right: var(--spacing-6);
    }
}

main {
    transition: width 200ms ease-in-out;
    width: calc(100% - $navigationWidth);
    max-height: 100vh;
    margin-bottom: 0;
    overflow-y: auto;
}

.navigation-closed {
    .navigation {
        width: $navigationClosedWidth;
    }
    main {
        width: calc(100% - $navigationClosedWidth);
    }

    .navigation-brand {
        display: none;
    }

    .menu-toggle {
        transform: rotate(180deg);
    }
}
