.page-editor {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: scroll;

    .form-row {
        margin-bottom: 0;
    }

    .widget {
        position: relative;
    }

    .widget-slot {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-2);

        &>*:not(.dropzone) {
            border: var(--border);
            transition: 100ms ease-in-out;

            &:hover {
                border-color: var(--c-primary-accent);
            }
        }

        .dropzone {
            border: dashed 6px var(--border-color);
            border-radius: 16px;
            height: 80px;
            transition: 100ms ease-in-out;
            margin: var(--spacing-2);

            &.dragover {
                border-color: var(--c-primary-accent);
            }
        }
    }

    .settings-form {
        cursor: default;
    }
}

.page-editor-tablist {
    gap: 0;
    border-bottom: var(--border);
    background-color: var(--c-elevation-1);
    margin-bottom: 0;
    button {
        border-radius: 0;
    }
}

.widget {
    min-height: 100px;
    border: var(--border);
    border-width: 2px;
    transition: 100ms ease-in-out;
    cursor: grab;

    &:hover {
        @include box-shadow;
        border-color: var(--c-primary-accent);
        transition: 100ms ease-in-out;
    }
}

#widgets {
    .widget {
        & > .card-body {
            min-height: 100px;
            overflow-y: hidden;
        }
    }

    .widget-options {
        display: none;
    }
}
