.page-browser-navigation {
    @include box-shadow;
    background-color: var(--c-elevation-2);
    position: fixed;
    width: 200px;
    height: 100vh;
    overflow: scroll;

}

.page-editor {
    margin-left: 200px;
    padding: var(--spacing-4);
}

#page-source {
    min-height: 500px;
    width: 100%;
}
