{% extends '@Forumify/admin/base.html.twig' %}
{% block title_page %}
    {{ 'users'|trans }}
{% endblock %}
{% block body %}
    <h2 class="mb-4">{{ 'users'|trans }}</h2>
    {{ component('UserTable') }}
{% endblock %}
