{% extends '@Forumify/frontend/base.html.twig' %}
{% block header %}
{% endblock %}
{% block body %}
    <div class="auth-container">
        <div class="auth-website-logo">
            <img src="{{ logo }}" alt="logo">
        </div>
        <div class="box">
            <div class="flex justify-between">
                <a href="{{ path('forumify_forum_forum') }}">
                    <i class="ph ph-arrow-left"></i>
                    Back
                </a>
            </div>
            <h2 class="flex justify-center mt-2 mb-10">
                {% block form_title %}{% endblock %}
            </h2>
            {% block form %}{% endblock %}
        </div>
    </div>
{% endblock %}
