includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
parameters:
    level: 8
    paths:
        - src
    ignoreErrors:
        -
            messages:
                - '#Property .+ is never written, only read.#'
                - '#Property .+ is never assigned .+ so it can be removed from the property type.#'
            path: src/**/Entity/*
