<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    colors="true"
    bootstrap="vendor/autoload.php"
    failOnRisky="true"
    failOnWarning="true"
>
    <php>
        <ini name="error_reporting" value="-1"/>
        <env name="SHELL_VERBOSITY" value="-1"/>
        <server name="APP_ENV" value="test"/>
        <server name="APP_SECRET" value="s3cr3tf0rt3st"/>
        <server name="KERNEL_CLASS" value="Tests\ForumifyTestKernel"/>
        <server name="DATABASE_URL" value="mysql://root:root@127.0.0.1:3306/forumify?serverVersion=8.0.32&amp;charset=utf8mb4" />
        <server name="DEFAULT_URI" value="http://localhost"/>
        <server name="MAILER_DSN" value="smtp://localhost:1025"/>
        <server name="SYMFONY_DEPRECATIONS_HELPER" value="disabled=1"/>
    </php>

    <testsuites>
        <testsuite name="forumify/forumify-platform Test Suite">
            <directory>tests/Tests</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener"/>
    </listeners>

    <extensions>
        <extension class="DAMA\DoctrineTestBundle\PHPUnit\PHPUnitExtension" />
    </extensions>
</phpunit>
