{% import '@Forumify/frontend/cms/macros.html.twig' as cms %}
{% set isResponsive = widget.settings.responsive ?? false %}
{% set colCount = widget.settings.columnCount|default(1) %}
<div class="grid-12">
    {% for i in 1..colCount %}
        {% set colSize = widget.settings.columns['column' ~ i]|default(12 / colCount) %}
        {% set colClass = isResponsive ? ('col-xs-12 col-md-' ~ colSize) : ('col-' ~ colSize) %}
        <div class="{{ colClass }}">
            {{ cms.slot(widget.slots[i - 1]) }}
        </div>
    {% endfor %}
</div>
