{% extends '@Forumify/frontend/auth/auth.html.twig' %}
{% block title %}{{ parent() }} - {{ 'forgot_password.forgot_password'|trans }}{% endblock %}
{% block form %}
    <p>{{ 'forgot_password.email_sent'|trans }}</p>
{% endblock %}
