@use 'sass:math';
@use 'sass:list';

$columns: 12;

.grid {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
}

.inline-grid {
    display: inline-grid;
    grid-template-columns: repeat($columns, 1fr);
}

@for $i from 1 to 13 {
    .grid-#{$i} {
        display: grid;
        grid-template-columns: repeat($i, 1fr);
    }

    .inline-grid-#{$i} {
        display: grid;
        grid-template-columns: repeat($i, 1fr);
    }
}

@each $bp, $size in $breakpoints {
    @media (min-width: $size) {
        @for $i from 1 through $columns {
            .grid-#{$bp}-#{$i} {
                display: grid;
                grid-template-columns: repeat($i, 1fr);
            }

            .inline-grid-#{$bp}-#{$i} {
                display: grid;
                grid-template-columns: repeat($i, 1fr);
            }
        }
    }
}

@for $i from 1 to 13 {
    .col-#{$i} {
        grid-column: span $i;
    }
}

@each $bp, $size in $breakpoints {
    @media (min-width: $size) {
        @for $i from 1 through $columns {
            .col-#{$bp}-#{$i} {
                grid-column: span $i;
            }
        }
    }
}
