@use '../mixins';
@use '../typography';

body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 300;
    color: var(--c-text-primary);
    background-color: var(--c-elevation-0);
    font-size: var(--font-size);
}

footer {
    display: flex;
    justify-content: center;
    margin-bottom: var(--spacing-6);
}

a {
    text-decoration: none;
    color: var(--c-primary);
    font-weight: 500;
    transition: color;
    cursor: pointer;

    &:hover {
        color: var(--c-primary-accent);
        transition: color ease-in-out 100ms;
    }
}

ul, ol {
    padding: 0;
    margin: 0;

    li {
        list-style: none;
    }
}

hr {
    margin: 0;
    width: 100%;
    border: none;
    border-top: var(--border);
}

* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

select,
textarea,
input {
    color: var(--c-text-primary);
    background-color: var(--c-elevation-1);
    height: 40px;
    padding: 0 1em;
    width: 100%;
    font-family: 'Be Vietnam Pro', sans-serif;
    box-sizing: border-box;
    border: 2px solid var(--border-color);
    border-radius: 8px;
    transition: ease-in-out 150ms;
    font-size: 0.875rem;

    &:hover,
    &:focus {
        transition: ease-in-out 150ms;
        border-color: var(--c-primary-accent);
    }

    &:disabled {
        border-color: var(--border-color);
        background-color: var(--c-elevation-0);
    }

    &[multiple="multiple"] {
        padding: 0.5em 1em;
        height: 120px;
    }
}

textarea {
    padding: 1em 1em;
    height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    resize: none;
}

input[type='radio'],
input[type='checkbox'] {
    height: 1rem;
    width: 1rem;
}

// TODO: make file inputs look pretty
input[type='file'] {
    padding-top: 6px;
}

.form-row {
    margin-bottom: var(--spacing-4);
}

.form-row .pre {
    display: flex;
    align-items: center;
    min-height: 40px;
    width: 100%;
    font-size: 0.875rem;
    margin: 0;
    padding: 0 1em;
    box-sizing: border-box;
    border: 2px solid var(--border-color);
    border-radius: 8px;
}

.responsive {
    max-width: 1600px;
    width: calc(11 / 12) * 100%;
    margin-left: auto;
    margin-right: auto;
}

.box {
    @include mixins.box-shadow;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--c-elevation-1);
    padding: var(--spacing-4);
    border-radius: var(--border-radius);
}

.card {
    @extend .box;
    padding: 0;
}

.card-title {
    display: flex;
    justify-content: space-between;
    border-bottom: var(--border);
    padding: var(--spacing-2) var(--spacing-4);
}

.card-body {
    padding: var(--spacing-4);
}

.card-footer {
    display: flex;
    justify-content: space-between;
    border-top: var(--border);
    padding: var(--spacing-2) var(--spacing-4);
}

.menu {
    display: none;
    flex-direction: column;
    background-color: var(--c-elevation-2);
    min-width: 180px;
    z-index: 999;
    @include mixins.box-shadow;
}

.avatar {
    object-fit: cover;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.avatar-xs {
    width: 24px;
    height: 24px;
}

.avatar-sm {
    width: 32px;
    height: 32px;
}

.avatar-lg {
    width: 150px;
    height: 150px;
}

.breadcrumbs {
    margin-bottom: var(--spacing-4);
}

.help-text {
    @extend .text-small;
}

// TODO: make the flashbag click-through
.flashbag {
    position: fixed;
    bottom: 0;
    right: 0;
    max-width: 600px;
    margin-right: var(--spacing-4);
    z-index: 999;
    animation: 600ms fadeOut forwards;
    animation-delay: 6s;

    div[class^="alert-"] {
        @include mixins.box-shadow;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
        display: none;
    }
}

iframe {
    border: none;
}

.dot {
    width: 8px;
    height: 8px;
    display: inline-block;
    background-color: var(--c-call-to-action);
    border-radius: 50%;
}
