.file-upload {
    border: 2px solid var(--border-color);
    border-radius: 8px;
    width: 100%;
    background-color: var(--c-elevation-1);
    cursor: pointer;
    transition: border-color 200ms;
    position: relative;

    &.drag,
    &:hover {
        border-color: var(--c-primary-accent);
        transition: border-color 200ms;
    }

    .dropzone {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    i {
        font-size: 25px;
    }

    /** DEPRECATED, Remove in 2.0 */
    .preview {
        width: 80px;
        height: 80px;
        background-color: var(--c-elevation-0);
        border: var(--border);
        border-radius: 8px;
        position: relative;

        img {
            width: 100%;
            height: auto;
            max-height: 100%;
        }
    }

    .preview-missing {
        font-size: 60px;
        color: var(--border-color);
    }
}
