@use '../breakpoints';

.profile-preview {
    display: none !important;
    width: auto;
    max-width: 100%;
    background-color: var(--c-elevation-2);
    margin: var(--spacing-2);
    z-index: 999;

    @include breakpoints.min-width-md {
        display: block;
    }
}
