.tag {
    font-weight: 700;
    border: var(--border);
    border-radius: var(--border-radius);
    background-color: var(--c-primary);
    color: var(--c-primary-text);
    padding: calc(var(--spacing-1) / 2) var(--spacing-1);
}
