@use '../mixins';

.ts-wrapper {
    min-height: 40px;
}
.ts-control, .ts-wrapper.single.input-active .ts-control {
    background-color: var(--c-elevation-1);
}

.focus .ts-control,
.ts-control {
    background-color: var(--c-elevation-1);
    border: 2px solid var(--border-color);
    border-radius: 8px;
    box-shadow: none;
}

.dropdown-active .ts-control {
    border-radius: 8px 8px 0 0;
    border-bottom: none;
    @include mixins.box-shadow;
}

.ts-dropdown, .ts-control, .ts-control input {
    font-size: 1rem;
    color: var(--c-text-primary);
}

.ts-wrapper.single .ts-control {
    background: var(--c-elevation-1);
    box-shadow: none;
}

.ts-wrapper.single .ts-control, .ts-dropdown.single {
    border-color: var(--border-color);
}

.ts-dropdown {
    margin: 0;
    border: 2px solid var(--border-color);
    border-top: none;
    border-radius: 0 0 8px 8px;
    background-color: var(--c-elevation-1);
    @include mixins.box-shadow;

    .option {
        color: var(--c-text-primary);
    }

    .active {
        background-color: var(--c-elevation-2);
    }
}

.ts-wrapper.multi .ts-control [data-value] {
    background: var(--c-primary);
    color: var(--c-primary-text);
    text-shadow: none;
    border-radius: 8px;
    border: none;
    padding: var(--spacing-1) var(--spacing-2);
    font-weight: 500;
    box-shadow: none;
    &.active {
        background: var(--c-primary);
        color: var(--c-primary-text);
        border: none;
    }

    .disabled {
        padding-right: var(--spacing-2);
        &+ .remove {
            display: none;
        }
    }
}
