{% extends '@Forumify/admin/base.html.twig' %}
{% block title_page %}
    {{ 'admin.cms.pages.title'|trans }}
{% endblock %}
{% block body %}
    <h2 class="mb-4">
        {{ 'admin.cms.pages.title'|trans }}
        <a class="btn-primary btn-small btn-icon" href="{{ path('forumify_admin_cms_page_create') }}">
            <i class="ph ph-plus"></i>
        </a>
    </h2>
    {{ component('PageTable') }}
{% endblock %}
