{% extends '@Forumify/admin/crud/form.html.twig' %}
{% block body_wrapper %}
    {% if data is null %}
        <div class="responsive mt-4">
            {% include '@Forumify/admin/components/simple_form.html.twig' with {
                cancelPath: path(route ~ '_list')
            } %}
        </div>
    {% else %}
        {{ form_start(form) }}
            {% include '@Forumify/admin/cms/page/page_builder.html.twig' %}
        {{ form_end(form) }}
    {% endif %}
{% endblock %}
