.reaction {
    width: 20px;
    height: 20px;
}

.reactions-menu {
    display: none;
    flex-direction: column;
    z-index: 999;
    background-color: var(--c-elevation-2);
    padding: var(--spacing-2);
    max-width: 400px;
    @include box-shadow;
}

.reactions-preview {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-2);
    margin-top: var(--spacing-2);
    max-height: 400px;
    overflow-y: auto;
}
