<div class="form-row">
    {{ form_label(form) }}
    <div class="rich-text mb-1">
        <pre class="pre"><code class="mb-0">{{ form.vars.data }}</code></pre>
    </div>
    {{ form_help(form) }}
    {{ form_errors(form) }}
</div>
