{% extends '@Forumify/admin/base.html.twig' %}
{% block title_page %}
    {{ 'admin.automations.title'|trans }}
{% endblock %}
{% block body %}
    <h2>
        {{ 'admin.automations.title'|trans }}
        <a class="btn-primary btn-small btn-icon" href="{{ path('forumify_admin_automation_form') }}">
            <i class="ph ph-plus"></i>
        </a>
    </h2>
    {{ component('Forumify\\AutomationTable') }}
{% endblock %}
