{% extends '@Forumify/admin/base.html.twig' %}
{% block title_page %}
    {{ 'admin.menu_builder.title'|trans }}
{% endblock %}
{% block body %}
    <h1>{{ 'admin.menu_builder.title'|trans }}</h1>
    {{ component('MenuBuilder') }}
{% endblock %}
