{% extends '@Forumify/frontend/base.html.twig' %}
{% block body %}
    <h1>Welcome to forumify!</h1>
    <p class="text-small pb-4">Work in progress.</p>
    <p>This is your homepage. Right now it's still blank, but soon it'll be full of stuff!</p>
    <p>To customize this page, create your own page in the admin panel, or overwrite this template.</p>
{% endblock %}
