{% extends '@Forumify/admin/base.html.twig' %}
{% block body %}
    <div class="box">
        <h2>Hello {{ app.user.username }},</h2>
        <p class="mt-4">
            This is your administrator dashboard. For now it is empty, but soon this page will be filled with analytics, statistics, pending actions, forumify news and more!
        </p>
    </div>
{% endblock %}
