<div {{ stimulus_controller('forumify/forumify-platform/modal') }}>
    {% block modalOpenButton %}
    {% endblock %}
    {% block modal %}
        <div class="modal" {{ stimulus_target('forumify/forumify-platform/modal', 'modal') }}>
            {% block modalBody %}
                <div class="modal-body" {{ stimulus_target('forumify/forumify-platform/modal', 'modalBody') }}>
                    {% block modalCloseButton %}
                        <button class="btn-link btn-small btn-icon" {{ stimulus_action('forumify/forumify-platform/modal', 'close') }}>
                            <i class="ph ph-x"></i>
                        </button>
                    {% endblock %}
                    {% block modalContent %}
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    {% endblock %}
</div>
