{%- if user is not null -%}
    <a href="{{ path('forumify_forum_profile', { username: user.username }) }}">{{ user.displayName|default(user.username) }}</a>
{%- else -%}
    <span>{{ 'deleted'|trans }}</span>
{%- endif -%}
