{%- if user is not null -%}
    <a class="inline-flex items-center gap-1 {{ className|default('') }}" href="{{ path('forumify_forum_profile', { username: user.username }) }}">
        {{ user.displayName|default(user.username) }}
        {% if user|online %}
            <span class="dot" style="background-color: #57B357"></span>
        {% endif %}
    </a>
{%- else -%}
    <span>{{ 'deleted'|trans }}</span>
{%- endif -%}
