@mixin alert {
    padding: var(--spacing-4);
    font-weight: 500;
    border-radius: var(--border-radius);

    a {
        font-weight: 600;
        color: currentColor;
        &:hover {
            opacity: 0.75;
        }
    }
}

.alert-success {
    @include alert;
    color: var(--c-success-text);
    background-color: var(--c-success);
}

.alert-info {
    @include alert;
    color: var(--c-info-text);
    background-color: var(--c-info);
}

.alert-warning {
    @include alert;
    color: var(--c-warning-text);
    background-color: var(--c-warning);
}

.alert-error {
    @include alert;
    color: var(--c-error-text);
    background-color: var(--c-error);
}

