@mixin alert {
    padding: var(--spacing-4);
    font-weight: 500;
}

.alert-success {
    @include alert;
    color: var(--c-success-text);
    background-color: var(--c-success);
}

.alert-info {
    @include alert;
    color: var(--c-info-text);
    background-color: var(--c-info);
}

.alert-warning {
    @include alert;
    color: var(--c-warning-text);
    background-color: var(--c-warning);
}

.alert-error {
    @include alert;
    color: var(--c-error-text);
    background-color: var(--c-error);
}

