@mixin btn {
    display: inline-flex;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 500;
    background: none;
    border: none;
    cursor: pointer;
    transition: ease-in-out 150ms;
    height: 40px;
    white-space: nowrap;
    overflow: hidden;

    &:hover {
        background-color: var(--c-hover);
        transition: ease-in-out 150ms;
    }

    &:disabled,
    &[disabled] {
        cursor: default;
        background-color: var(--c-hover);
    }

    i {
        margin-right: var(--spacing-2);
        font-size: 20px;
    }

    i.end-adornment {
        margin-right: 0;
        margin-left: var(--spacing-2);
        font-size: 12px;
    }
}

@mixin btn-contained {
    @include btn;
    padding: 0 var(--spacing-4);
    border-radius: var(--button-border-radius);
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
    box-sizing: border-box;
}

.btn-primary {
    @include btn-contained;
    color: var(--c-primary-text);
    background-color: var(--c-primary);

    &:hover {
        color: var(--c-primary-text);
        background-color: var(--c-primary-accent);
    }
}

.btn-cta {
    @include btn-contained;
    color: var(--c-call-to-action-text);
    background-color: var(--c-call-to-action);

    &:hover {
        color: var(--c-call-to-action-text);
        background-color: var(--c-call-to-action-accent);
    }
}

.btn-outlined {
    @include btn-contained;
    color: var(--c-primary);
    border: 2px solid var(--border-color);

    &:hover {
        color: var(--c-primary-accent);
        border-color: var(--c-primary-accent);
        background-color: transparent;
    }
}

.btn-outlined-highlighted {
    @include btn-contained;
    color: var(--c-primary);
    border: 2px solid var(--c-primary-accent);

    &:hover {
        color: var(--c-primary-accent);
        background-color: transparent;
    }
}

.btn-link {
    @include btn;
    color: var(--c-text-primary);
    align-items: center;
    justify-content: start;
    padding: var(--spacing-2) var(--spacing-4);
    border-radius: var(--button-border-radius);
}

.menu .btn-link {
    width: 100%;
    border-radius: 0;
}

.btn-small {
    height: 30px;
    padding: var(--spacing-1) var(--spacing-2);
}

.btn-icon {
    i {
        margin-right: 0;
    }
}
