.code-editor {
    .ace_editor {
        min-height: 400px;
        outline: 2px solid var(--border-color);
        margin: 2px;
        border-radius: 8px;
    }

    &.code-editor-compact {
        .ace_editor {
            min-height: 50px;
        }
    }
}
