.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: auto;
    background: rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;

    &.open {
        display: flex;
        animation: 200ms fade forwards;
        @keyframes fade {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
    }

    & > .modal-body {
        width: 100%;
        max-width: 800px;
        margin: 0 var(--spacing-2);
        position: relative;

        & > button {
            position: absolute;
            right: var(--spacing-1);
            top: var(--spacing-1);
        }
    }
}
