.rich-editor {
    .ql-container.ql-snow {
        border: 2px solid var(--border-color);
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    .ql-toolbar.ql-snow {
        border: 2px solid var(--border-color);
        border-bottom: none;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        background-color: var(--c-elevation-2);
    }

    .ql-editor {
        min-height: 140px;

        blockquote {
            margin: 0;
        }

        & > * {
            margin-bottom: var(--spacing-2);
        }

        & > *:last-child {
            margin-bottom: 0;
        }

        .ql-code-block-container {
            margin-top: 0;
            margin-bottom: var(--spacing-2);
        }
    }

    .ql-snow {
        .ql-fill {
            fill: var(--c-text-primary);
        }

        .ql-stroke {
            stroke: var(--c-text-primary);
        }

        .ql-picker {
            color: var(--c-text-primary);
        }
    }

    .ql-snow.ql-toolbar button:hover,
    .ql-snow .ql-toolbar button:hover,
    .ql-snow.ql-toolbar button:focus,
    .ql-snow .ql-toolbar button:focus,
    .ql-snow.ql-toolbar button.ql-active,
    .ql-snow .ql-toolbar button.ql-active,
    .ql-snow.ql-toolbar .ql-picker-label:hover,
    .ql-snow .ql-toolbar .ql-picker-label:hover,
    .ql-snow.ql-toolbar .ql-picker-label.ql-active,
    .ql-snow .ql-toolbar .ql-picker-label.ql-active,
    .ql-snow.ql-toolbar .ql-picker-item:hover,
    .ql-snow .ql-toolbar .ql-picker-item:hover,
    .ql-snow.ql-toolbar .ql-picker-item.ql-selected,
    .ql-snow .ql-toolbar .ql-picker-item.ql-selected {
        .ql-fill {
            fill: var(--c-primary-accent);
        }

        .ql-stroke {
            stroke: var(--c-primary-accent);
        }

        color: var(--c-primary-accent);
    }

    .ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options {
        border: none;
        background-color: var(--c-elevation-3);
    }

    .ql-mention-list {
        @include box-shadow;
        min-width: 180px;
        z-index: 999;
        background-color: var(--c-elevation-2);
        display: flex;
        flex-direction: column;
    }

    .ql-mention-list-item {
        @extend .btn-link;

        &.selected {
            background-color: var(--c-hover);
            transition: ease-in-out 150ms;
        }
    }

    .mention {
        text-decoration: underline;
    }
}
