{% extends '@Forumify/admin/base.html.twig' %}
{% block title_page %}
    reactions
{% endblock %}
{% block body %}
    <h2 class="mb-4">{{ 'reactions'|trans }}</h2>
    {{ component('ReactionTable') }}
{% endblock %}
