{% for child in form %}
    <div class="ml-4 mt-1">
        {% if child.vars.compound %}
            {{ form_label(child, child.vars.label|humanize, { label_attr: { class: 'text-capitalize' } }) }}
            {% include '@Forumify/admin/role/permissions.html.twig' with { form: child } %}
        {% else %}
            {{ form_widget(child) }}
            {{ form_label(child, child.vars.label|humanize) }}
        {% endif %}
    </div>
{% endfor %}
