.auth-container {
    margin: 15vh auto auto;
    max-width: 500px;
}

.auth-website-logo {
    @extend .box;
    width: 128px;
    height: 128px;
    padding: var(--spacing-4);
    border-radius: 15px;
    margin: auto auto var(--spacing-12);
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.auth-actions {
    display: flex;
    justify-content: space-between;
}

.auth-title {
    display: flex;
    justify-content: center;
    margin: var(--spacing-4) 0;
}

.auth-submit {
    display: flex;
    justify-content: center;
    margin-bottom: var(--spacing-4);
}

.login-actions {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: calc(var(--spacing-2) * -1);
    margin-bottom: var(--spacing-4);
}
