.forum-list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-6);
}

.forum {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-4);

    + * {
        margin-top: var(--spacing-4);
    }
}

.forum-image {
    width: 64px;
    height: 64px;
    display: none;

    @include min-width-sm {
        display: block;
    }
}

.forum-content {
    flex-grow: 1;
}

.forum-last-comment {
    width: calc(1 / 4) * 100%;
    flex-direction: row;
    gap: var(--spacing-2);
    display: none;

    @include min-width-md {
        display: flex;
    }
}

.forum-subforums {
    display: none;

    a + * {
        margin-left: var(--spacing-2);
    }

    @include min-width-sm {
        display: block;
    }
}

.forum-actions {
    display: flex;
    gap: var(--spacing-2);
}

.topic-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.topic-hidden {
    background-color: rgba(0, 0, 0, 0.05);
    margin: 0 calc(var(--spacing-4) * -1);
    padding: var(--spacing-2) var(--spacing-4);
}

.topic-row + * {
    margin-top: var(--spacing-6);
}

.topic-row-content {
    width: 100%;

    @include min-width-md {
        width: 75%;
    }
}

.topic-row-last-comment {
    display: none;
    width: 25%;

    @include min-width-md {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
}

.topic {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: var(--spacing-6);
}

.topic-header {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);

    @include min-width-md {
        flex-direction: row;
        justify-content: space-between;
    }

    img {
        margin-right: var(--spacing-4);
        width: 48px;
        height: 48px;
    }
}

.comment {
    display: flex;
    flex-direction: column;
    padding: var(--spacing-4) 0;
    min-height: 120px;

    @include min-width-md {
        flex-direction: row;
    }

    .comment-author {
        display: flex;
        width: 100%;
        align-items: center;
        gap: var(--spacing-2);

        @include min-width-md {
            width: calc(1 / 6) * 100%;
            border-right: var(--border);
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            padding: var(--spacing-4) 0;
        }

        .avatar {
            width: 32px;
            height: 32px;

            @include min-width-md {
                width: 48px;
                height: 48px;
                margin-bottom: var(--spacing-2);
            }
        }

    }

    .comment-content {
        position: relative;
        width: 100%;

        @include min-width-md {
            width: calc(5 / 6) * 100%;
            padding: var(--spacing-4) 0 var(--spacing-4) var(--spacing-4);
        }
    }

    .comment-toolbar {
        opacity: 0;
        transition: opacity 200ms;

        position: absolute;
        right: 0;
    }

    &:hover {
        .comment-toolbar {
            opacity: 1;
        }
    }
}

.messenger {
    display: flex;
    gap: var(--spacing-4);
}

.thread-list {
    width: 25%;

    .card-body {
        padding-left: 0;
        padding-right: 0;
    }
}

.thread-row {
    width: 100%;
    height: 60px;
    overflow: hidden;
}

.thread-title {
    max-height: 40px;
    overflow: hidden;
}

.thread-active {
    background-color: var(--c-elevation-2);
}

.thread-row-inner {
    display: flex;
    align-items: flex-start;
    gap: var(--spacing-2);
}

.thread {
    width: 75%;
}

.thread-header {
    display: flex;
    align-items: flex-start;
    gap: var(--spacing-2);
}

.thread-participant a {
    gap: var(--spacing-2);
}

.thread-participant + * {
    margin-left: var(--spacing-3);
    padding-left: var(--spacing-3);
    border-left: var(--border);
}

.message {
    display: flex;
    align-items: flex-start;
    gap: var(--spacing-2);
}

.message + * {
    margin-top: var(--spacing-2);
}

.no-thread-selected {
    text-align: center;
    margin: var(--spacing-4) 0;
}

.profile-avatar {
    text-align: right;
    border-right: var(--border);
}

.notification {
    width: 450px;
}
