// this shouldn't be here
.hero {
    padding-top: 7rem;
    padding-bottom: 7rem;

    .hero-bg {
        position: absolute;
        top: 0;
        right: 0;
        overflow: hidden;
        z-index: -1;
        filter: blur(100px);
        min-width: 50%;
        height: 550px;
    }

    .hero-text {
        width: 100%;
        text-align: center;

        @include min-width-sm {
            width: 50%;
            text-align: left;
        }
    }

    .hero-logo {
        margin: auto;
    }
}

.text-gradient {
    background-image: linear-gradient(to left, var(--c-primary), var(--c-call-to-action));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}
