$breakpoint-xs: 0px;
$breakpoint-sm: 600px;
$breakpoint-md: 900px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1536px;

$breakpoints: (
    'xs': $breakpoint-xs,
    'sm': $breakpoint-sm,
    'md': $breakpoint-md,
    'lg': $breakpoint-lg,
    'xl': $breakpoint-xl,
);

@mixin min-width-xs {
    @media screen and (min-width: $breakpoint-xs) {
        @content;
    }
}

@mixin min-width-sm {
    @media screen and (min-width: $breakpoint-sm) {
        @content;
    }
}

@mixin min-width-md {
    @media screen and (min-width: $breakpoint-md) {
        @content;
    }
}

@mixin min-width-lg {
    @media screen and (min-width: $breakpoint-lg) {
        @content;
    }
}

@mixin min-width-xl {
    @media screen and (min-width: $breakpoint-xl) {
        @content;
    }
}
