.text-secondary {
    color: var(--c-text-secondary);
    font-weight: 300;
}

.text-small {
    font-size: 0.75rem;
}

.text-subtitle {
    font-weight: 400;
}

.text-bold {
    font-weight: 500;
}

.text-black {
    font-weight: 700;
}

.text-underline {
    text-decoration: underline;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}
