h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

h1, h2 {
    margin-bottom: var(--spacing-4);
}

h3, h4, h5, h6 {
    margin-bottom: var(--spacing-2);
}

strong {
    font-weight: bold;
}

.text-secondary {
    color: var(--c-text-secondary);
    font-weight: 300;
}

.text-huge {
    font-size: 1.5rem;
}

.text-large {
    font-size: 1.25rem;
}

.text-regular {
    font-size: 1rem;
}

.text-small {
    font-size: 0.75rem;
}

.text-extra-small {
    font-size: 0.5rem;
}

.text-light {
    font-weight: 200;
}

.text-subtitle {
    font-weight: 400;
}

.text-bold {
    font-weight: 500;
}

.text-black {
    font-weight: 700;
}

.text-underline {
    text-decoration: underline;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}
