.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.justify-start {
    justify-content: flex-start;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-end {
    justify-content: flex-end;
}

.items-start {
    align-items: flex-start;
}

.items-center {
    align-items: center;
}

.items-baseline {
    align-items: baseline;
}

.items-end {
    align-items: flex-end;
}

.items-stretch {
    align-items: stretch;
}

.flex-grow {
    flex-grow: 1;
}

.flex-wrap {
    flex-wrap: wrap;
}

@for $i from 0 to 21 {
    .w-#{$i * 5} {
        width: #{$i * 5%};
    }

    .h-#{$i * 5} {
        height: #{$i * 5%};
    }
}

@for $i from 0 to 13 {
    .m-#{$i} {
        margin: var(--spacing-#{$i});
    }

    .mt-#{$i} {
        margin-top: var(--spacing-#{$i});
    }

    .mr-#{$i} {
        margin-right: var(--spacing-#{$i});
    }

    .mb-#{$i} {
        margin-bottom: var(--spacing-#{$i});
    }

    .ml-#{$i} {
        margin-left: var(--spacing-#{$i});
    }

    .p-#{$i} {
        padding: var(--spacing-#{$i});
    }

    .pt-#{$i} {
        padding-top: var(--spacing-#{$i});
    }

    .pr-#{$i} {
        padding-right: var(--spacing-#{$i});
    }

    .pb-#{$i} {
        padding-bottom: var(--spacing-#{$i});
    }

    .pl-#{$i} {
        padding-left: var(--spacing-#{$i});
    }

    .gap-#{$i} {
        gap: var(--spacing-#{$i});
    }
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.d-inline-block {
    display: inline-block;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.border {
    border: var(--border);
}

.border-t {
    border-top: var(--border);
}

.border-r {
    border-right: var(--border);
}

.border-b {
    border-bottom: var(--border);
}

.border-l {
    border-left: var(--border);
}

@media screen and (min-width: $breakpoint-lg) {
    .hide-desktop {
        display: none !important;
    }
}

@media screen and (min-width: $breakpoint-md) and (max-width: calc($breakpoint-lg - 1px)) {
    .hide-tablet {
        display: none !important;
    }
}

@media screen and (max-width: $breakpoint-md) {
    .hide-phone {
        display: none !important;
    }
}

.rounded {
    border-radius: var(--border-radius);
}

.clear-background {
    background: none !important;
}

.clear-shadow {
    box-shadow: none !important;
}


