{% extends '@Forumify/components/list.html.twig' %}
{% block row %}
    <li class="topic-row">
        <div class="topic-row-content">
            <a href="{{ path('forumify_forum_topic', { slug: item.slug }) }}">
                <h4>{{ item.title }}</h4>
            </a>
            <p>
                {% set author %}
                    {% include '@Forumify/components/username.html.twig' with { user: item.createdBy } only %}
                {% endset %}
                {{ 'created_by'|trans({ author: author })|raw }}
            </p>
        </div>
        {% if item.comments is not empty %}
            {% set lastComment = item.comments.last %}
            <div class="topic-row-last-comment">
                <div class="mr-2">
                    {% include '@Forumify/components/avatar.html.twig' with { user: lastComment.createdBy } only %}
                </div>
                <div>
                    {% include '@Forumify/components/username.html.twig' with { user: lastComment.createdBy } only %}
                    <p class="text-small">{{ 'date_time_short'|trans({ date: lastComment.createdAt }) }}</p>
                </div>
            </div>
        {% endif %}
    </li>
{% endblock %}
