<span class="p-2 text-black {{ class|default('text-extra-small') }}" style="
    border-radius: 100px;
    background-color: {{ tag.color }};
    color: {{ tag.color|fg_color }}">
    {{ tag.title }}
</span>
