<span class="tag {{ class|default('text-small') }}" style="
    background-color: {{ tag.color }};
    color: {{ tag.color|fg_color }};
    text-transform: uppercase;
">
    {{ tag.title|upper }}
</span>
